.header-top {
  background-color: #262626;
  height: 54px;
  width: 100%;
  display: flex;
  position: sticky;
  top: 0px;
  z-index: 1;
}

.logo1-img {
  width: 50%;
}

.logo1-img img {
  height: 18px;
  width: 152px;
  margin: 15px 24px;
  float: left;
}

.buy-bt {
  width: 50%;
}

.buy-bt button {
  float: right;
  background-color: #82b440;
  height: 33px;
  width: 100px;
  border-radius: 5px;
  border: none;
  margin: 10px 21px;

}

.buy-bt button a {
  color: white;
  text-decoration: none;
}

.buy-bt button:hover {
  background-color: #6f9a37;
  ;
}

.header1-area {
  background: #2c2e32;
  height: 50px;
}

/* .header-user-right {
  display: flex;
  width: 100%;
} */

.user-menu {

  font-size: 14px;
  display: flex;
}

.eng-menu a {
  border-right: 1px solid #fff;
  padding-right: 28px;
  padding-top: 6px;
  color: white;
  text-decoration: none;


}

.usd-menu a {
  border-right: 1px solid #fff;
  padding-right: 28px;
  padding-top: 6px;
  color: white;
  text-decoration: none;

}

.eng-menu {
  padding-top: 12px;
}

.usd-menu {
  padding: 12px 33px;
}

.wel-menu {
  padding-top: 12px;
}

.wel-menu a {
  color: white;
  text-decoration: none;
}

.user-menu a:hover {
  color: orange;
}

.header-right {
  display: flex;
  justify-content: end;
}

.header-right a {
  color: white;
  font-size: 14px;
  text-decoration: none;
}

.act a {
  border-right: 1px solid #fff;
  padding-right: 18px;
  padding-top: 6px;
}

.Wishlist a {
  border-right: 1px solid #fff;
  padding-right: 18px;
  padding-top: 6px;
}

.check a {
  border-right: 1px solid #fff;
  padding-right: 18px;
  padding-top: 6px;
}

.act {
  padding-top: 12px;
}

.Wishlist {
  padding: 14px 18px;
}

.check {
  padding-top: 11px;
}

.login {
  padding-top: 9px;
  padding-left: 17px;
}

.header-right a:hover {
  color: orange;
}

.logo-area {
  background: #fff none repeat scroll 0 0;
  padding: 45px 35px;
}

.search-area-cont {
  display: flex;
}

.search-area {
  border: 1px solid #e2e2e2ec;
  border-radius: 0;
  float: left;
  width: 75%;
  display: flex;
  height: 44px;
}

.dropdown {
  width: 160px;
  height: 42px;
  background-color: #e0e0e0;
}

.dropdown button {
  font-size: 13px;
  font-family: 'latosemibold';
  color: white;
  padding-left: 32px;
  text-decoration: none;
}

.dropdown:hover {
  color: white;
}

.search-bar1 input {
  border: medium none;
  border-radius: 5px 0 0 5px;
  float: left;
  padding: 9px 13px;
  width: 325px;
}

.search-bar1 i:hover {
  background-color: orange;
}

.contact {
  float: left;
  margin-left: 18px;
  width: 26.4%;
  display: contents;
}

.contact span {
  background: #f89d18 none repeat scroll 0 0;
  cursor: pointer;
  float: left;
  padding: 3px 16px;
  width: 60px;
  margin-left: 9px;
}

.contact i {
  font-size: 35px;
  color: #fff;
}

.contact a {
  background: #404348 none repeat scroll 0 0;
  color: #fff;
  cursor: pointer;
  float: right;
  font-family: "latosemibold";
  font-size: 14px;
  font-weight: 600;
  height: 43px;
  line-height: 14px;
  padding: 6px 12px;
  width: 134px;
  text-decoration: none;
}

.contact a:hover {
  color: #f89d18;
}

.header-menu-area {
  background: #ffffff none repeat scroll 0 0;
  border-top: 1px solid #eee;
  border-bottom: 0 !important;
}

.categ {
  background: #F89D18;
  padding: 1px 0px;

}

.categ a {
  color: #fff;
  cursor: pointer;
  display: inline-block;
  font-family: "latobold";
  font-size: 15px;
  padding: 18px 15px;
  text-decoration: none;
  text-transform: uppercase;
}

.main-menu-neg ul li {
  background: #fff none repeat scroll 0 0;
  padding: 19px 10px;
  border-left: 0px;
  display: inline-table;
}

.main-menu-neg a {
  text-decoration: none;
  color: #262626;
  font-size: 14px;
  font-weight: 500;
}

.main-menu-neg a:hover {
  color: #F89D18;
}

.my-car-2 {
  height: 56px;

}

.my-car-2 a {
  background: #5A5E64;
  color: #FFFFFF;
  cursor: pointer;
  font-family: 'latosemibold';
  font-size: 15px;
  line-height: 63px;
  padding: 23px 42px;
  width: 131px !important;
  text-decoration: none;
}

.my-car-2 span {
  background: #f89d18 none repeat scroll 0 0;
  color: #fff;

  height: 63px;
  padding: 22px 23px;
  width: 54px;
  cursor: pointer;
  font-family: 'latosemibold';
  font-size: 16px;
}

.men-feacture {
  padding-top: 88px;
}

.featured-single {
  position: relative;
}

.featured-text {
  left: 55px;
  position: absolute;
  top: 125px;
  text-transform: uppercase;
  z-index: 1;
  color: white;
  text-align: center;
  font-family: "Bitter";
  font-weight: 400;
}

.featured-single .feat-hover {
  background: rgba(0, 0, 0, 1);
  opacity: .6;
  color: #fff;
}

.feat-in {
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
}

.feat-in:hover {
  border: none;
}

.feat-hover {
  height: 100%;
  padding: 9px;
  position: absolute;
  top: 0;
  width: 370px;
}

.percent-t span {
  background: #f7a31c none repeat scroll 0 0;
  border-radius: 50%;
  color: #fff;
  display: block;
  height: 55px;
  left: 40px;
  line-height: 55px;
  position: absolute;
  text-align: center;
  top: 34px;
  width: 55px;
}

.men-sec-cloth {
  padding: 55px 0 90px;
}

.headline {
  border-bottom: 2px solid #eeeeee;
  margin-top: 11px;
}

.headline h2 {
  border-bottom: 2px solid #f89d18;
  color: #222222;
  display: inline-block;
  font-family: "Bitter";
  font-size: 24px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 22px;
  margin: 0 0 -2px;
}

/* .men1{
  border: 1px solid #f5f5f5;
  width: 25%;
  padding: 8px;
} */
.men-formal-cloth {
  padding-top: 50px;
  display: flex;
  overflow-x: scroll;
}

.men1 h4 {
  padding-top: 20px;
  padding-left: 20px;
}

.men1 span {
  padding-top: 20px;
  padding-left: 20px;
}

.men1 h4:hover {
  color: #F89D18;
}

.style-sec1 {
  position: relative;
  margin-left: -15px;
}

.style-text {
  position: absolute;
  left: 172px;
  top: 44px;
  text-transform: uppercase;
  z-index: 1;
  color: white;
  text-align: center;
  font-family: "Bitter";
  font-weight: 500;
}

.style-sec1 .style-feat-hover {
  background: rgba(0, 0, 0, 1);
  opacity: .6;
  color: #fff;
}

.style-feat-in {
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
}

.style-feat-in:hover {
  border: none;
}

.style-feat-hover {
  height: 100%;
  padding: 9px;
  position: absolute;
  top: 0;
  width: 570px;
}

.style-sec-collet {
  margin-bottom: 8%;
}

.style-sec2 {
  position: relative;
  margin-left: 15px;
}

.style2-text {
  position: absolute;
  left: 172px;
  top: 44px;
  text-transform: uppercase;
  z-index: 1;
  color: white;
  text-align: center;
  font-family: "Bitter";
  font-weight: 500;
}

.style-sec2 .style2-feat-hover {
  background: rgba(0, 0, 0, 1);
  opacity: .6;
  color: #fff;
}

.style2-feat-in {
  border: 1px solid #fff;
  width: 100%;
  height: 100%;
}

.style2-feat-in:hover {
  border: none;
}

.style2-feat-hover {
  height: 100%;
  padding: 9px;
  position: absolute;
  top: 0;
  width: 570px;
}

.women-formal-cloth {
  padding-top: 50px;

}

.brand-formal-cloth {
  padding-top: 50px;
}

.testimonial {
  background-image: url("/Images/partner_bg.png");
  background-size: cover;

  margin-top: 10%;
  position: relative;
  height: 300px;
  width: 100%;
}

.testimonial::before {
  content: " ";
  background-color: #00000075;
  position: absolute;
  height: 300px;
  width: 100%;
  top: 0px;
}

/* .testimonial-sec{
  /* transition: .2s;
 overflow-x: scroll; */
/* } */
.testimonial-text p {
  font-size: 18px;
  font-family: 'latoitalic';
  color: white;
  text-align: center;
  padding: 0 13px;
  margin-top: 73px;
  margin-bottom: 25px;
  /* transition: 2s; */
  transition: transform .3s ease;
  inset: 0 0 0 0;
}

/* .testimonial-text{
  /* transition: 2s; */
/* transform: scaleX(0); */

/* } */
.testimonial-img {
  display: flex;
  justify-content: center;
}

.testimonial-img img {
  border: 2px solid white;
  border-radius: 50%;
  height: 80px;
  width: 80px;
}

.testimonial-text-customer h4 {
  color: #f89d18;
  font-size: 14px;
  font-weight: 700;
}

.testimonial-text-customer h5 {
  font-weight: 400;
  font-size: 12px;
  color: white;
}

.testimonial-text-customer {
  padding-left: 20px;
  margin-top: 16px;
}

.bt input {
  border-radius: 50%;
  height: 13px;
  width: 13px;
  border: 1px solid white;
  background-color: #000000;
}

.bt input:hover {
  background-color: orangered;
}

.bt {
  text-align: center;
  /* opacity: -0.5; */
  margin-top: 30px;
  margin-bottom: 60px;
}

.headline-lst-prod {
  border-bottom: 2px solid #eeeeee;
  margin-top: 30px;
  margin-bottom: 55px;
}

.headline-lst-prod h2 {
  border-bottom: 2px solid #f89d18;
  color: #222222;
  display: inline-block;
  font-family: "Bitter";
  font-size: 24px;
  font-weight: 400;
  padding-bottom: 30px;
  margin: -2px -7px;
}

.latest-single {
  border: 1px solid #f5f5f5;
  width: 265px;
  padding: 8px 6px;
  margin-left: -16px;
  margin-bottom: 28px;
}

.latest-single-text h4 {
  color: #333333;
  font-size: 13px;
  font-weight: 600;
  padding-top: 15px;
  padding-left: 20px;
}

.latest-single-text {
  margin-bottom: 80px;
}

.latest-single-text h4:hover {
  color: #F89D18;
}

.latest-single-text span {
  color: #222222;
  font-size: 20px;
  padding-left: 20px;
  font-weight: 600;
  float: left;
}

.latest-single-text del {
  padding-left: 19px;
  color: #777777;
  font-size: 14px;
  padding: 10px 37px;
  float: left;
}

.brand-shoping {
  margin-top: 50px;
  margin-bottom: 50px;
  width: 100%;
}

.brand-shoping img {
  width: 100%;
}

.blog-single {
  border: 1px solid #ddd;
  width: 370px;
}

.blog-single-text h3 {
  font-size: 15px;
  color: #333;
  font-weight: 500;
  /* padding: 0 25px; */
}

.blog-single-text h3:hover {
  color: #F89D18;
}

.blog-single-text p {
  font-size: 15px;
  line-height: 25px;
  color: #8A8A8A;
  padding-bottom: 11px;
}

.blog-single-text {
  padding: 0 30px;
}

.blog-text-h3 {
  background: #858484 none repeat scroll 0 0;
  height: 1px;
  width: 100%;
}

.footer-top-area {
  margin-top: 70px;
  margin-bottom: 80px;
}

.top-border {
  border: 1px solid #eaeaea;
  margin-bottom: 50px;
}

.top-area-1 {
  border: 1px solid #ededed;
  padding: 18px 31px;
}

.top-area-1 h4 {
  color: #222222;
  font-size: 14px;
  font-weight: 600;
  margin-bottom: 5px;
}

.top-area-1 p {
  color: #777777;
  font-size: 14px;
  line-height: 19px;
}

.widget-logo img {
  margin-bottom: 10px;
}

.footer-widget {
  background: #6F7375;
}

.foot-address {
  padding: 9px 50px;
}

.foot-address p {
  color: #fff;
  font-size: 14px;
}

.foot-address p:hover {
  color: #F89D18;
}

.widget-logo {
  margin: 70px 0;
}

.my-account-footer {
  margin: 78px 0;
}

.my-ac h4 {
  color: #fff;
  font-size: 16px;
}

.my-ac h4:hover {
  color: #F89D18;
}

.my-ac-sec ul {
  padding-left: 0;
}

.my-ac-sec li {
  list-style: none;
  line-height: 2.3;
  color: #fff;
}

.my-ac-sec li:hover {
  color: #F89D18;
}

.footer-end-area {
  background: #0f0f0f;
}

.footer-end-text p {
  color: #fff;
  padding: 18px 0px;
}

.footer-end-bank {
  float: right;
  padding: 18px 0;
}


